<% include header %>
<html>
  <head>
    <title>KnouWIKI</title>
  </head>
  <body>
    <form>
      <textarea id="editor1" rows="10" cols="80"></textarea>
      <input type="submit" value="Save">
    </form>
  </body>
  <script>
    $( document ).ready( function() {
      $( 'textarea#editor1' ).ckeditor();
    });
  </script>
</html>
