<% include header %>
<div class="row container-fluid">
	<div class="col-sm-12">
	        <h2><%= title %></h2>
	        <div class="alert alert-info" role="alert">
	            <h4 style="margin-bottom: 0;"><%= content %></h4>
	        </div>
				<form id="contentsform" method="post">
					<input type="hidden" name="title" id="title" value="<%= title %>">
					<textarea id="editor1" name="item" rows="10" cols="80"></textarea>
					<p class="text-center"><button type="submit" class="btn btn-primary" style="margin: 20px 0;">save</button></p>
				</form>
	</div>
</div>
<script>

$( document ).ready( function() {
  CKEDITOR.replace(editor1);
});
</script>
  </body>
</html>
