<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Knou Wiki!!witest</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
  <script src="/ckedit../../ckeditor.js"></script>
  <script src="/ckeditor/adapters/jquery.js"></script>
	<script src="/assets/wiki.js"></script>﻿
	<link rel="stylesheet" href="/stylesheets/submain.css" type="text/css">
	<!-- <link rel="stylesheet" type="text/css" href="resources/common.css"> -->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">KNOU WIKI</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/editer">편집</a></li>
				<li><a href="/result">결과</a></li>
				<li><a href="#menu3">메뉴3</a></li>
				<li><a href="#menu4">메뉴4</a></li>
				<li><a href="#menu5">메뉴5</a></li>
				<li><a href="#menu6">메뉴6</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron text-center">
	<h1>Knou Wiki</h1>
	<p>Search Anything</p>
	<form class="form-inline" id="headerSearch" action="/result" method="POST">
		<input type="text" id="inputTitle" name="inputTitle" class="form-control" style="margin-bottom: 10px;" size="50" placeholder="search"/>
		<button type="submit" class="btn btn-info" style="margin-bottom: 10px;">Go!</button>
	</form>
</div>
