<% include header %>

<div class="row container-fluid text-center">
	<div class="col-sm-9">
<!-- 		<h2 class="text-center">위키소식</h2> -->
		<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="2" class="active"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<h2>언제 어디서든 참여하세요</h2>
					<h4>
					방송대위키는 시간과 장소에 구애받지 않고<br> 
					다양한 이야기를 나눌 수 있도록 여러분을 지원합니다 .<br><br>
					언제 어디서든 자유롭게 방송대 위키에 참여하세요.
					</h4>
				</div>
				<div class="item">
					<h2>사용자가 만들어가는 방송대 위키</h2>
					<h4>
					방송대위키는 시간과 장소에 구애받지 않고<br> 
					다양한 이야기를 나눌 수 있도록 여러분을 지원합니다 .<br><br>
					언제 어디서든 자유롭게 방송대 위키에 참여하세요.
					</h4>
				</div>
				<div class="item">
					<h2>누구나 편집 가능한 방송대 위키</h2>
					<h4>
					방송대위키는 시간과 장소에 구애받지 않고<br> 
					다양한 이야기를 나눌 수 있도록 여러분을 지원합니다 .<br><br>
					언제 어디서든 자유롭게 방송대 위키에 참여하세요.
					</h4>
				</div>
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>	
	</div>	
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>최근변경</h3></div>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					정재화 교수
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					수강신청
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					컴퓨터 과학과
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					리우올림픽
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					한마당 축제
				</a>
			</div>
			<div class="panel-body text-center"><a href="#">더보기</a></div>
		</div>
	</div>
</div>

<div id="menu6" class="container-fluid bg-grey">
	<h2 class="text-center">CONTACT</h2>
	<div class="row">
		<div class="col-sm-5">
			<p>문의사항은 아래 연락처로 언제든지 보내주세요.</p>
			<p><span class="glyphicon glyphicon-map-marker"></span>BUSAN, KOREA</p>
			<p><span class="glyphicon glyphicon-phone"></span>+82 10 1212 3434</p>
			<p><span class="glyphicon glyphicon-envelope"></span>test@mail.mail</p>
		</div>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-6 form-group">
					<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
				</div>
				<div class="col-sm-6 form-group">
					<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
				</div>
			</div>
			<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
			<div class="row">
				<div class="col-sm-12 form-group">
					<button class="btn btn-default pull-right" type="submit">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Set height and width with CSS -->
<div id="googleMap" style="height: 400px; width: 100%;"></div>
<!-- Add Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1jNf98aOGLILqy6tF-_EoXKSJyDeLwuk&callback=initMap" async defer></script>
<script>
function initMap() {
	var myLatLng = {lat: 35.224108, lng: 129.0042914};
	var map = new google.maps.Map(document.getElementById("googleMap"),{
		center: myLatLng,
		zoom: 12,
		scrollwheel:false,
		mapTypeId:google.maps.MapTypeId.ROADMAP		
	});
	var marker = new google.maps.Marker({
		map: map,
		position: myLatLng,
		title: 'KNOU WIKI'
	});
}
</script>

<footer class="container-fluid text-center">
	<a href="#myPage" title="To Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<p>COPYRIGHT(c) KNOU WIKI. ALL RIGHTS RESERVED.</p>
</footer>

</body>
</html>
