<% include header %>

<div class="row container-fluid">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>최근변경</h3></div>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					정재화 교수
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					수강신청
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					컴퓨터 과학과
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					리우올림픽
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					한마당 축제
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:33</span>
					수강 권장 교과목
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:32</span>
					소프트웨어경진대화
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:31</span>
					등록금 납부
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:30</span>
					장학금 신청
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:29</span>
					한국장학재단
					</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:28</span>
					출석수업일정
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:28</span>
					하계계절수업시험
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:28</span>
					국가근로장학생
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:28</span>
					문병기 교수
				</a>
				<a href="#" class="list-group-item">
					<span class="badge">23:28</span>
					김희천 교수
				</a>
			</div>
			<div class="panel-body text-center"><a href="#">더보기</a></div>
		</div>
	</div>
</div>

<div id="menu6" class="container-fluid bg-grey">
	<h2 class="text-center">CONTACT</h2>
	<div class="row">
		<div class="col-sm-5">
			<p>문의사항은 아래 연락처로 언제든지 보내주세요.</p>
			<p><span class="glyphicon glyphicon-map-marker"></span>BUSAN, KOREA</p>
			<p><span class="glyphicon glyphicon-phone"></span>+82 10 1212 3434</p>
			<p><span class="glyphicon glyphicon-envelope"></span>test@mail.mail</p>
		</div>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-6 form-group">
					<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
				</div>
				<div class="col-sm-6 form-group">
					<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
				</div>
			</div>
			<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
			<div class="row">
				<div class="col-sm-12 form-group">
					<button class="btn btn-default pull-right" type="submit">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Set height and width with CSS -->
<div id="googleMap" style="height: 400px; width: 100%;"></div>
<!-- Add Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
var myCenter = new google.maps.LatLng(35.224108, 129.0042914);

function initialize() {
	var mapProp = {
		center:myCenter,
		zoom:12,
		scrollwheel:false,
		draggable:false,
		mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
	var marker = new google.maps.Marker({
		position:myCenter,
	});
	marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<footer class="container-fluid text-center">
	<a href="#myPage" title="To Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<p>COPYRIGHT(c) KNOU WIKI. ALL RIGHTS RESERVED.</p>
</footer>

</body>
</html>
