<% include header %>
<div class="row container-fluid">
	<div class="col-sm-12">  
    		<h2>"<%= title %>"</h2>
		<%- todos[0].date %>
		<%- todos[0].item %>
	</div>  
</div>    
  </body>

</html>
